doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
      title Gulp + Browserify + Tests
      meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    // build:css css/main.min.css
    link(rel="stylesheet", href="/css/main.min.css")
    // build:js js/app.js
    script(src="js/app.js")

  body
    #test
      a.inner hi!
    .test3
    #test2
      a.test2 Hi!
